/*normal*/
@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Light.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Light.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Light.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Medium.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Medium.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Medium.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Medium.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Medium.ttf');
    font-weight: 900;
    font-style: normal;
}

/*italic*/
@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-LightItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-LightItalic.ttf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-LightItalic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-RegularItalic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-MediumItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-MediumItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-MediumItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-MediumItalic.ttf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-MediumItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

* {
    font-family: SFUIText, sans-serif;
    font-size: 14px
}

.wy-nav-content-wrap {
    background-color: #fff;
}

.hljs {
    background-color: #fcfcfc;
}

pre code {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, legend {
    font-weight: normal;
}

@media screen and (min-width: 1400px) {
    .wy-nav-content {
        margin: auto;
        background: #fff;
    }
}

.rst-versions {
    display: none;
}

.wy-nav-side {
    height: 100%;
}

.wy-menu-vertical a {
    font-size: 95%;
}

code {
    font-family: SFUIText, sans-serif;
}